<!DOCTYPE html>
<html lang="@Model.GetItem("Language")">
<head>

    <title>@ViewData["Title"] - @Model.GetItem("Title")</title>

    <link rel="icon" sizes="32x32" href="../favicon.ico">

    <meta name="description" content="Cats Exhibition Ukraine" />
    <meta name="keywords" content="Cats,Exhibition,Ukraine,KhPI,MIT-87b" />
    <meta name="author" content="Serhii Rudenko" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    @Html.Raw(ViewData["AdditionalCssLibs"]);

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/design.css" rel="stylesheet" />

</head>
<body>
    <partial name="Partials/Header" model="Model" />
    @RenderBody()
    <partial name="Partials/Footer" model="Model" />
</body>
</html>
